# Quiz 6 - Pandas Intro
For this quiz, we'll do a quick intro into importing data into pandas, and using some pandas functions to explore the data.

**Import pandas**

In [7]:
# Your code here
import pandas as pd

**Import any file into pandas**

In [8]:
#Your code here
ctr = pd.read_csv("ctr_by_state.csv")

**Display the first 5 and last 10 rows of your data**

In [9]:
#Your code here
ctr.head()

  Row Labels       State  Sum of Impressions  Sum of Clicks  Sum of CTR
0         AK      Alaska               19512             63     0.00323
1         AL     Alabama              119196            376     0.00315
2         AR    Arkansas               55970            157     0.00281
3         AZ     Arizona              185120            527     0.00285
4         CA  California             1089852           3250     0.00298

In [10]:
# Your code here
ctr.tail(10)

   Row Labels          State  Sum of Impressions  Sum of Clicks  Sum of CTR
41         SD   South Dakota               23015             55     0.00239
42         TN      Tennessee              233921            586     0.00251
43         TX          Texas             1049064           2638     0.00251
44         UT           Utah              104578            254     0.00243
45         VA       Virginia              454042            749     0.00165
46         VT        Vermont               16696             62     0.00371
47         WA     Washington              222165            542     0.00244
48         WI      Wisconsin              213702            574     0.00269
49         WV  West Virginia               31402            107     0.00341
50         WY        Wyoming               15673             39     0.00249

**Print the shape of your data**

In [11]:
#Your code here
print(ctr.shape)

(51, 5)

**Describe your data**

In [12]:
# Your code here
ctr.describe()

       Sum of Impressions  Sum of Clicks  Sum of CTR
count        5.100000e+01      51.000000   51.000000
mean         2.123551e+05     579.588235    0.002823
std          2.444123e+05     675.665929    0.000661
min          1.567300e+04      39.000000    0.001650
25%          4.430150e+04     153.500000    0.002460
50%          1.131240e+05     356.000000    0.002810
75%          2.428445e+05     679.500000    0.003040
max          1.089852e+06    3250.000000    0.006410