# Quiz 5 - List Comprehensions, Methods & Functions

**Use a List Comprehension (instead of appending to an empty list) to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [1]:
#Your code here

number_list = [x for x in range(1, 51) if x % 3 == 0]
print(number_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [2]:
st = 'Create a list of the first letters of every word in this string'

#Your code here

st_list = [word[0] for word in st.split()]
print(st_list)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Function Problems

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
#Your code here

def lesser_of_two_evens(n1, n2):
    if n1 % 2 == 0 and n2 % 2 == 0:
        return min(n1, n2)
    else:
        return max(n1, n2)

In [4]:
lesser_of_two_evens(2, 4)

2

In [5]:
lesser_of_two_evens(2, 5)

5

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [6]:
#Your code here

def makes_twenty(n1, n2):
    if n1 + n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [7]:
makes_twenty(20, 10)

True

In [8]:
makes_twenty(12,8)

True

In [9]:
makes_twenty(2,3)

False

### A Little bit harder function problems
#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [10]:
# Your code here

def old_macdonald(name):
    newname = ''
    for index, letter in enumerate(name):
        if index == 0 or index == 3:
            newname += letter.upper()
        else:
            newname += letter
    return newname

In [11]:
old_macdonald('berkowitz')

'BerKowitz'

In [12]:
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [13]:
# Your code here
def almost_there(n):
    if abs(100-n) <= 10 or abs(200-n) <= 10:
        return True
    else:
        return False

In [14]:
almost_there(109)

True

In [15]:
almost_there(8)

False

In [16]:
almost_there(150)

False

### A really tough one - this one is optional but give it a try!

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [17]:
def blackjack(n1, n2, n3):
    total = n1 + n2 + n3
    if total <= 21:
        return total
    elif total <= 21 and n1 == 11 or n2 == 11 or n3 == 11:
        return total - 10
    else:
        return 'BUST'

In [18]:
blackjack(5,6,7)

18

In [19]:
blackjack(9, 9, 9)

'BUST'

In [20]:
blackjack(9, 9, 11)

19