# Quick Intro to Useful Pandas Functions
Pandas has a ton of useful functions, but quickly I wanted to show you all some of the most useful ones that I use most frequently.

In [1]:
import pandas as pd
df = pd.read_csv("ctr_by_state.csv")

### head()
The head() function shows you the first n rows of a dataframe or series. The default number of rows is 5, but you can specify if you want to see more rows.

In [2]:
df.head()

  Row Labels       State  Sum of Impressions  Sum of Clicks  Sum of CTR
0         AK      Alaska               19512             63     0.00323
1         AL     Alabama              119196            376     0.00315
2         AR    Arkansas               55970            157     0.00281
3         AZ     Arizona              185120            527     0.00285
4         CA  California             1089852           3250     0.00298

In [3]:
df.head(10)

,Row Labels,State,Sum of Impressions,Sum of Clicks,Sum of CTR
0,AK,Alaska,19512,63,0.00323
1,AL,Alabama,119196,376,0.00315
2,AR,Arkansas,55970,157,0.00281
3,AZ,Arizona,185120,527,0.00285
4,CA,California,1089852,3250,0.00298
5,CO,Colorado,227018,610,0.00269
6,CT,Connecticut,95720,291,0.00304
7,DC,district of columbia,113124,324,0.00286
8,DE,Delaware,25196,68,0.00270
9,FL,Florida,781268,2005,0.00257

### tail()
The tail() function does the opposite - it shows you the last rows of a dataframe.

In [4]:
df.tail()

   Row Labels          State  Sum of Impressions  Sum of Clicks  Sum of CTR
46         VT        Vermont               16696             62     0.00371
47         WA     Washington              222165            542     0.00244
48         WI      Wisconsin              213702            574     0.00269
49         WV  West Virginia               31402            107     0.00341
50         WY        Wyoming               15673             39     0.00249

In [5]:
df.tail(10)

   Row Labels          State  Sum of Impressions  Sum of Clicks  Sum of CTR
41         SD   South Dakota               23015             55     0.00239
42         TN      Tennessee              233921            586     0.00251
43         TX          Texas             1049064           2638     0.00251
44         UT           Utah              104578            254     0.00243
45         VA       Virginia              454042            749     0.00165
46         VT        Vermont               16696             62     0.00371
47         WA     Washington              222165            542     0.00244
48         WI      Wisconsin              213702            574     0.00269
49         WV  West Virginia               31402            107     0.00341
50         WY        Wyoming               15673             39     0.00249

### describe()
The describe function gives you a really quick, easy one-line way to get some descriptive statistics about your data.

In [7]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
df.describe()

       Sum of Impressions  Sum of Clicks  Sum of CTR
count            51.00000       51.00000    51.00000
mean         212355.09804      579.58824     0.00282
std          244412.32559      675.66593     0.00066
min           15673.00000       39.00000     0.00165
25%           44301.50000      153.50000     0.00246
50%          113124.00000      356.00000     0.00281
75%          242844.50000      679.50000     0.00304
max         1089852.00000     3250.00000     0.00641

### value_counts()
The value_counts() function give the number of occurrences of all values for a single series.

In [8]:
df["State"].value_counts()

New York                1
Texas                   1
Arizona                 1
Indiana                 1
Nevada                  1
Oklahoma                1
Oregon                  1
South Carolina          1
Arkansas                1
Ohio                    1
Minnesota               1
Louisiana               1
North Dakota            1
Alaska                  1
Maryland                1
California              1
New Hampshire           1
New Jersey              1
Georgia                 1
Delaware                1
Alabama                 1
North Carolina          1
Missouri                1
Kansas                  1
Montana                 1
West Virginia           1
Tennessee               1
Virginia                1
New Mexico              1
Pennsylvania            1
Wisconsin               1
district of columbia    1
Illinois                1
Rhode Island            1
Michigan                1
Utah                    1
Wyoming                 1
Colorado                1
South Dakota            1
Washington              1
Florida                 1
Hawaii                  1
Nebraska                1
Idaho                   1
Kentucky                1
Vermont                 1
Mississippi             1
Iowa                    1
Maine                   1
Massachusetts           1
Connecticut             1
Name: State, dtype: int64

### shape
The shape attribute gives us the shape of our dataframe - how many rows and columns we have in our data

In [12]:
df.shape

(51, 5)

### info
The .info() attribute lists all of the data types and the number of non-missing values in each column. It gives a good snapshot into our data, and lets us know which columns might be problematic when it comes to missing values or incorrectly encoded data types.

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Row Labels          51 non-null     object
 1   State               51 non-null     object
 2   Sum of Impressions  51 non-null     int64
 3   Sum of Clicks       51 non-null     int64
 4   Sum of CTR          51 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB