# Quiz 2 - Lists, Dictionaries, Booleans, Tuples and Sets

### Lists

Build the list [1, 1, 1] two separate ways.

In [1]:
#Method 1
#Your code here
list1 = [1, 1, 1]
print(list1)

[1, 1, 1]

In [7]:
#Method 2
#Your code here
list1 = []
list1.append(1)
list1 = list1 * 3
list1

[1, 1, 1]

In [8]:
list1 = []
list1.insert(0,1)
list1.append(1)
list1.append(1)
list1

[1, 1, 1]

Reassign "hello" in the nested list below to say "goodbye" instead.

In [9]:
list3 = [1, 2, [3, 4, "hello"]]
#Your code here
list3[2][2] = "goodbye"
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [26]:
list4 = [5, 3, 4, 6, 1]
#Your code here
list4.sort()
list4

[1, 3, 4, 5, 6]

### Dictionaries

Using keys and indexing, grab the "hello" from the following dictionaries:

In [10]:
d = {"simple_key": "hello"}
#Your code here
d["simple_key"]

'hello'

In [11]:
d = {"k1":{"k2":"hello"}}
#Your code here
d["k1"]["k2"]

'hello'

In [12]:
#Getting tricky
d = {"k1":[{"nest_key": ["this is deep", ["hello"]]}]}

#Your code here
d["k1"][0]["nest_key"][1][0]

'hello'

In [13]:
#Getting tricky
d = {"k1":[{"nest_key": ["this is deep", ["hello"]]}]}

d["k1"][0]['nest_key'][1][0]

'hello'

In [14]:
#This is gonna be annoying and hard!
d = {"k1":[1,2,{"k2":["this is tricky", {"tough":[1,2,["hello"]]}]}]}

#Your code here

d["k1"][2]["k2"][1]["tough"][2][0]

'hello'

### Sets

What is unique about a set?

Your answer: 
<br>
<br>

Use a set to find the unique values of the list below:

In [15]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
#Your code here

uniques = set(list5)
uniques

{1, 2, 3, 4, 11, 22, 33}

### Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will the resulting Boolean of the following pieces of code (Print your answer as a string, and then check your answer)

2 > 3

In [16]:
#Your answer here
print(False)

2 > 3

False

False

3 <= 2

In [17]:
#Your answer here
print(False)
3<=2

False

False

3 == 2.0

In [18]:
#Your answer here
print(False)
3 == 2.0

False

False

3.0 == 3

In [23]:
#Your answer here
print(True)
3.0 == 3

True

True

4**0.5 != 2

In [24]:
#Your answer here
print(False)
4**0.5 != 2

False

False

Bringing it all together: <br>
What is the boolean output of the cell block below?

In [25]:
#Two nested lists

l_one = [1,2,[3,4]]
l_two = [1,2,{"k1":4}]

#True or False
l_one[2][0] >= l_two[2]["k1"]

#Print your answer here
print(False)
l_one[2][0] >= l_two[2]["k1"]

False

False